<body class='login-page' >

{{> topnav}}

<div class='form register-form'>
   <form id='newpwd-form' method='post' action='/newpwd'>
       <div class='register-text'>
	  <span>Reset password for iQsign account for {{email}}</span>
       </div>
       <br/>
       <table>
       <tr class='form-row'>
	  <td>
	     <label for='password' class='inputlabel'>Password: </label>
	  </td>
	  <td>
	     <input type='password' name='password' id='newpwd-password' class='form-control input'
		required minlength='6'
		placeholder='Enter password' value='{{password}}' />
	  </td>
       </tr>
       <tr class='form-row'>
	  <td>
	     <label for='password2' class='inputlabel'>Reenter Password: </label>
	  </td>
	  <td>
	     <input type='password' name='password2' id='newpwd-password2' class='form-control input'
		required placeholder='Reenter password' value='{{password1}}' />
	  </td>
       </tr>
       <tr>
	  <td colspan='2'>
	     <span id='newpwd-error' class='error hidden'></span>
	  </td>
       </tr>
       <tr>
	  <td colspan='2' class='centered'>
	     <input type='hidden' name='email' id='newpwd-email' value='{{email}}' />
	     <input type='hidden' name='uid' id='newpwd-uid' value={{uid}}' />
	     <input type='hidden' name='code' id='newpwd-code' value='{{code}}' />
	     <input type='submit' id="newpwd-submit" value='Change Password' />
	  </td>
       </tr>
       </table>
    </form>
<div>

{{> botnav}}

<script>

$(function() {
   $("#newpwd-form").submit(event => handleNewPasswordSubmit(event));
});

</script>

</body>





















