<body class='signbody'
{{#background}}
   style='color: {{background}};'
{{/background}}
>

   <div class='row'>
{{#image3}}
      <div class='col-2'>
	 <img id='image3' src='{{image3}}' />
      <div>
{{/image3}}
{#text4}}
      <div class='col-8'>
	 <span style='{{text4style}}'>{{text4}}</span>
      </div>
{{/text4}}
{{#image4}}
      <div class='col-2'>
	 <img id='image4' src='{{image4}}' />
      <div>
{{/image4}}
   </div>

{{#text1}}
   <div class='row'>
      <div class='col'>
	 <span style={{text1style}}'>{{text1}}</span>
      </div>
   </div>
{{/text1}}

{{#text2}}
   <div class='row'>
      <div class='col'>
	 <span style={{text2style}}'>{{text2}}</span>
      </div>
   </div>
{{/text2}}

   <div class='row'>
{{#image1}}
      <div class='col-2'>
	 <img id='image1' src='{{image1}}' />
      <div>
{{/image3}}
{#text3}}
      <div class='col-8'>
	 <span style='{{text3style}}'>{{text3}}</span>
      </div>
{{/text4}}
{{#image5}}
      <div class='col-8'>
	 <img id='image5' src='{{image5}}' />
      <div>
{{/image5}}
{{#image2}}
      <div class='col-2'>
	 <img id='image2' src='{{image2}}' />
      <div>
{{/image2}}
   </div>

</body>

